<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- STYLE -->
    <link rel="stylesheet" href="./style/index.css">
    <title>Vue-email-list</title>
</head>
<body>
    <div id="app">
        <div v-if="emailList.length < 10">
            Loading
        </div>
        <div v-else>
            <ul>
                <li v-for="email in emailList"> {{ email }}</li>
            </ul>
        </div>
    </div>
    <!-- SCRIPT -->
    <script src="./js/index.js"></script>
</body>
</html>